html {
  padding: 0;
  margin: 0;
  background-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  border: 1px solid black;
  margin: 5px;
}

/* .cursor:before {
  content: attr(data-width) "/" attr(data-fade) "/" attr(data-opacity);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
} */